@model Lab05_ed_2022.Models.CarroModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminación</h1>

<h3>¿Seguro que desea eliminar al vehículo con placa @Html.DisplayFor(model => model.Placa)</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Propietario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    }
    </script>
}
