@model Lab05_ed_2022.Models.CarroModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarroModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
