@model IEnumerable<Lab05_ed_2022.Models.CarroModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New |</a>
    <a class="font-weight-bold">Para cargar archivo</a>
    <form class="text-center" asp-controller="Carro" asp-action="CargarArchivo2_3" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Cargar</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Propietario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitud)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Placa }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Placa }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Placa })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
