@model IEnumerable<Lab05_ed_2022.Models.CarroModel>

@{
    ViewData["Title"] = "Indice";
}

<h1>Listado vehículos</h1>

<p>
    <a asp-action="Create">Agregar nuevo Vehículo</a>
</p>
<form asp-controller="Carro" asp-action="CargarArchivo2_3" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Cargar</button>
</form>
<table class="table">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
         {
            foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitud)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Placa }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Placa }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Placa })
                    </td>
                </tr>
            }
         }

    </tbody>
</table>
